<h2><%= t('devise.views.registrations.new.title') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-4" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.input :email, label: t('devise.views.registrations.new.email'), input_html: { autocomplete: "email", autofocus: true } %>
  <%= f.input :first_name, label: t('devise.views.registrations.new.first_name'), required: false, input_html: { autocomplete: "given-name" } %>
  <%= f.input :last_name, label: t('devise.views.registrations.new.last_name'), required: false, input_html: { autocomplete: "family-name" } %>
  <%= f.input :password, label: t('devise.views.registrations.new.password'), hint: t('devise.views.registrations.new.password_hint', count: @minimum_password_length), input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation, label: t('devise.views.registrations.new.password_confirmation'), input_html: { autocomplete: "new-password" } %>
  <div class="d-flex justify-content-end mt-4">
    <%= f.button :submit, t('devise.views.registrations.new.submit'), class: "btn btn-primary" %>
  </div>
<% end %>

<br><hr><br>

<%= render "devise/shared/links" %>
