<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Search results for: "<%= @query %>"</h1>
  <%= link_to "Return to Homepage", root_path, class: "btn btn-primary" %>
</div>
<% if @query.present? %>
  <% if @search_tasks != [] %>
    <%= render "shared/search_results", title: "Tasks: ", results: @search_tasks, query: @query %>
    <hr>
  <% end %>
  <% if @search_projects != [] %>
    <%= render "shared/search_results", title: "Projects: ", results: @search_projects, query: @query %>
    <hr>
  <% end %>
  <% if @search_tags != [] %>
    <%= render "shared/search_results", title: "Tags: ", results: @search_tags, query: @query %>
    <hr>
  <% end %>
  <% if @search_tasks.empty? && @search_projects.empty? && @search_tags.empty? %>
    <p>Nothing found for "<%= @query %>"</p>
  <% end %>
<% else %>
  <p>Search for something up in the search field...</p>
<% end %>