<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0"><%= current_user.first_name %>'s tasks</h1>
  <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
</div>

<% extend Pagy::Frontend %>
<div class="table-responsive">
  <table class="table table-light table-striped table-hover">
    <thead class="table-light">
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th>Tags</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task), class: "nav-link" %></td>
        <td>
          <%= task.project_title || "Not assigned to a project" %>
        </td>
        <td>
          <% if task.tags.any? %>
            <% task.tags.each do |tag| %>
              <span class="badge bg-primary"><%= tag.title %></span>
            <% end %>
          <% else %>
            <span class="text-muted">No tags</span>
          <% end %>
        </td>
        <td><%= l(task.created_at, format: :short) %></td>
        <td><%= task.is_done %></td>
        <td>
          <div class="btn-group" role="group">
            <%= button_to "Edit", edit_task_path(task), method: :get, class: "btn btn-outline-primary btn-sm" %>
            <%= button_to "Delete", task_path(task), method: :delete, data: { confirm: "Delete this task?" }, class: "btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/pagination" %>