<nav class="navbar navbar-expand-lg bg-body-tertiary px-4 fixed-top z-1000">
  <div class="container-fluid">
    <%= link_to "Tasks", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse d-flex" id="mainNavbar">
      <% if user_signed_in? %>
        <!--Links-->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "Projects", projects_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Tags", tags_path, class: "nav-link" %></li>
        </ul>

        <!--Search, <%# TODO - rework w/ simple_form %>-->
        <%= form_with url: "#", method: :get, class: "d-flex mx-auto", local: true do |f| %>
          <%= f.search_field :q, class: "form-control me-2", placeholder: "Search…" %>
          <%= f.submit "Search", class: "btn btn-outline-success" %>
        <% end %>
      <% end %>
    </div>

    <!--Login-->
    <div class="d-flex">
      <% if user_signed_in? %>
        <span class="navbar-text me-2">
          <%= link_to "#{current_user.full_name}", edit_user_registration_path, class: "nav-link" %>
        </span>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>
