<nav class="navbar navbar-expand-lg bg-body-tertiary px-4 fixed-top z-1000", style="height: 4rem">
  <div class="container-fluid row-cols-3">
    <!--Title and links-->
    <div class="d-flex collapse navbar-collapse col justify-content-start align-items-baseline" id="mainNavbar">
      <%= link_to "Tasks", root_path, class: "navbar-brand" %>
      <% if user_signed_in? %>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "Projects", projects_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Tags", tags_path, class: "nav-link" %></li>
        </ul>
      <% end %>
    </div>
    <!--Title and links-->

    <!--Search form-->
    <% if user_signed_in? %>
      <div class="d-flex collapse navbar-collapse col align-items-center justify-content-evenly h-100 py-1">
        <div class="d-flex align-items-center">
          <%= simple_form_for :search, url: search_path, method: :get, html: { class: "d-flex align-items-baseline justify-content-center gap-1 w-100", style: "max-width:400px;" } do |f| %>
            <%= f.input :query, label: false, placeholder: "Search for title...", input_html: { class: "form-control mt-3", value: params.dig(:search, :query) || params[:query] } %>
            <%= f.button :button, type: :submit, class: "btn btn-outline-success" do %>
              <i class="bi bi-search"></i> Search
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <!--Search form-->

    <!--Login-->
    <div class="d-flex collapse navbar-collapse col align-items-baseline justify-content-end">
       <div class="d-flex justify-content-end align-items-center">
        <% if user_signed_in? %>
          <span class="navbar-text me-2">
            <%= link_to "#{current_user.full_name}", edit_user_registration_path, class: "nav-link" %>
          </span>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary me-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <!--Login-->
  </div>
</nav>