<% if results.any? %>
  <h2><%= title %></h2>
  <ul>
    <% results.each do |result| %>
      <li>
        <%= highlight(result.title, @query) %>
        <% if result.is_a?(Task) %>
          <%= link_to "See detail", task_path(result) %>
        <% end %>
        <% if result.is_a?(Project) %>
          <%= link_to "See detail", project_path(result) %>
        <% end %>
        <% if result.is_a?(Tag) %>
          <%= link_to "See detail", tag_path(result) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
