<h2><%= t('devise.views.sessions.new.title') %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-4" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.input :email, label: t('devise.views.sessions.new.email'), input_html: { autocomplete: "email", autofocus: true } %>
  <%= f.input :password, label: t('devise.views.sessions.new.password'), input_html: { autocomplete: "current-password" } %>
  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean, label: t('devise.views.sessions.new.remember_me'), inline_label: true %>
  <% end %>
  <div class="d-flex justify-content-end mt-4">
    <%= f.button :submit, t('devise.views.sessions.new.submit'), class: "btn btn-primary" %>
  </div>
<% end %>

<br><hr><br>

<%= render "devise/shared/links" %>
