<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-4" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.input :email, label: "Email", input_html: { autocomplete: "email", autofocus: true } %>
  <%= f.input :password, label: "Password", input_html: { autocomplete: "current-password" } %>
  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean, label: "Remember me", inline_label: true %>
  <% end %>
  <div class="d-flex justify-content-end mt-4">
    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<br><hr><br>

<%= render "devise/shared/links" %>